.codeEditor {
    display: flex;
    flex-direction: column;
    background-color: var(--card-primary);

    height: 100%;

    border-radius: 0 0 0.5em 0.5em;
}

.editor {
    border-radius: 0 0 0.5em 0.5em;
}

.noSelect {
    user-select: none;
}
