.codeEditor {
    display: flex;
    flex-direction: column;
    background-color: var(--card-primary);

    width: 610px;
    height: 692px;
    border-radius: 10px;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    font-size: 18px;
    font-weight: normal;
    color: var(--text-primary);

    padding: 13px 27px;

    border-bottom: 1px solid var(--card-secondary);
}
