.copyButton {
    padding: 0.175em;
    border-radius: 0.25em;

    &:hover {
        background-color: color-mix(in srgb, var(--card-primary) 85%, white 15%);
        transition: background-color 0.1s ease;
    }

    &:active {
        transform: scale(0.95);
    }

    svg {
        width: 1.1em;
        height: 1.1em;
    }
}

.copyIdle {
    color: var(--text-primary);
}

.copySuccess {
    color: var(--positive);
}
