.button {
    --btn-bg-color: var(--accent-primary);
    --btn-text-color: var(--text-primary);

    width: 100%;

    padding: 0.75em 1em;
    border-radius: 0.5em;

    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);

    font-size: 1rem;
    font-weight: 500;

    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    transition: background-color 0.2s ease;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;

    &.filled {
        &:hover:not(.disabled) {
            background-color: color-mix(in srgb, var(--btn-bg-color) 85%, white);
        }

        &:active:not(.disabled) {
            background-color: color-mix(in srgb, var(--btn-bg-color) 75%, black);
        }
    }

    &.outlined {
        --btn-bg-color: transparent;
        --btn-text-color: var(--accent-primary);
        --btn-border-color: var(--accent-primary);

        &:hover:not(.disabled) {
            background-color: var(--card-secondary);
        }

        &:active:not(.disabled) {
            --btn-bg-color: color-mix(in srgb, var(--accent-primary) 75%, black);
            --btn-border-color: color-mix(in srgb, var(--accent-primary) 75%, black);
        }
    }

    &:disabled {
        cursor: not-allowed;
        background-color: var(--card-secondary);

        &.outlined {
            --btn-text-color: var(--text-secondary);
            --btn-border-color: var(--text-secondary);
            background-color: transparent;
        }
    }
}

.leadingIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    svg {
        width: 1.25em;
        height: 1.25em;
    }
}

.disabled {
    color: var(--text-secondary);

    .leadingIcon svg {
        filter: grayscale(100%) brightness(1.5);
        opacity: 1;
    }
}
