.testDataCard {
    display: flex;
    flex: 1;
    flex-direction: column;
    row-gap: 0.5em;

    padding: 1em 1em;

    border-radius: 0.5em;

    background-color: var(--card-secondary);

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    pre {
        font-size: 1.25em;
    }
}
