.activeDuelTimer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.duelIcon {
    width: 1.25em;
    height: 1.25em;
}

.time {
    font-variant-numeric: tabular-nums;
}
