.briefUserInfo {
    display: flex;
    align-items: center;
    column-gap: 1.5em;
}

.userIcon {
    width: 8em;
    height: 8em;
    border-radius: 50%;
}

.infoItem {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 0.25em;

    font-size: 1.25em;

    .infoItemTitle {
        font-weight: 600;
        color: var(--accent-primary);
    }

    .infoItemValue {
        font-weight: 500;
        color: var(--text-primary);
    }
}

.userInfo {
    display: flex;
    flex-direction: column;
    justify-items: start;
    row-gap: 0.5em;
}
