.tabbedCard {
    display: flex;
    flex-direction: column;

    height: 100%;
    min-height: 0;

    background-color: var(--card-primary);
    border-radius: 0.5em;
}

.tab {
    padding: 0.75em;
}
