.codeEditor {
    flex: 1;
    height: 100%;
    overflow: hidden;
}

.loadingState {
    height: 100%;
    min-height: 12rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 12px;
    padding: 24px;
    text-align: center;
}
