.select {
    position: relative;
    width: 120px;
    height: 24px;
}

.trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--card-primary);
    cursor: pointer;
    transition: all 0.2s;
    gap: 5px;

    height: 24px;
}

.trigger:hover {
    border-color: #9ca3af;
}

.value {
    font-size: 18px;
    color: var(--text-primary);
    font-weight: normal;
    margin: 0 12px;
}

.arrow {
    color: var(--text-secondary);
    transition: transform 0.2s;
    margin: 0 12px;
}

.trigger.open .arrow {
    transform: rotate(180deg);
}

.dropdown {
    position: absolute;
    left: 0;
    right: 0;
    background: var(--card-primary);
    border-radius: 6px;
    // border-bottom-left-radius: 6px;
    // border-bottom-right-radius: 6px;
    border-top: 1px solid var(--card-secondary);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2);
    z-index: 10;
    margin-top: 12px;
    max-height: 200px;
    overflow-y: auto;
}

.option {
    padding: 8px 12px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.2s;
}

.option:hover {
    background-color: var(--card-secondary);
}

.option.selected {
    color: var(--text-primary);
    font-weight: normal;
}
