.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 50px;

    padding: 0.5em 0.75em;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}
