.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    padding: 13px 20px;

    height: 50px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 9px;

    height: 24px;
}
