.profileSection {
    width: 100%;

    display: flex;
    flex-direction: column;
    row-gap: 1em;

    text-align: center;
}

.title {
    padding: 0.75em 0;
    border-bottom: 2px solid var(--text-secondary);

    font-size: 1.5rem;
}
