@use "dark";
@use "light";

.app {
    --font-family-sans: "Inter", sans-serif;
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 1.5rem;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --accent-primary: #6064cf;
    --accent-secondary: #9fa1e7;

    --error: #b3261e;
    --on-error: #852221;

    --warning: hsl(36, 100%, 50%);
    --on-warning: hsl(36, 100%, 27%);

    --positive: #14ae5c;
}
