@use "dark";
@use "light";

.app {
    --accent-primary: #6064cf;
    --accent-secondary: #9fa1e7;

    --error: #b3261e;
    --on-error: #852221;

    --warning: hsl(36, 100%, 50%);
    --on-warning: hsl(36, 100%, 27%);

    --positive: #14ae5c;
}
