.mainCard {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;

    width: 400px;
    height: 400px;

    margin: 1em;

    border-radius: 0.5em;

    background-color: var(--card-primary);
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.05);
}
