.tab {
    display: flex;
    align-items: center;
    column-gap: 0.25em;

    cursor: pointer;
    color: var(--text-secondary);

    &:hover {
        color: var(--text-primary);
    }
}

.leadingIcon {
    flex-shrink: 0;
    width: 1.25em;
    height: 1.25em;
}

.active {
    &:not(:only-child) {
        border-bottom: 1px solid var(--text-primary);
    }

    color: var(--text-primary);
    font-weight: 500;

    .leadingIcon {
        color: var(--accent-primary);
    }
}
