.tab {
    flex: 1; /*TODO: наверняка, когда будем переиспользовать tab'ы для карточек, это свойство надо будет обыгрывать*/
    text-align: center;
    padding: 0.5em 0.25em;
    cursor: pointer;
    color: var(--text-secondary);
}

.active {
    color: var(--text-primary);
    font-weight: 500;
    border-bottom: 1px solid var(--text-primary);
    transition:
        color 0.2s ease-in-out,
        font-weight 0.2s ease-in-out;
}
