.layout {
    height: 100%;
    display: grid;
    grid-template-areas: "header" "content";
    grid-template-rows: 70px minmax(0, 1fr);

    overflow: hidden;
}

.content {
    grid-area: content;

    display: grid;

    overflow: auto;
    scrollbar-color: var(--card-secondary) transparent;
}
