.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
}

.navigationBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0.75em;
    border-bottom: 1px solid var(--card-secondary);
}

.backButton {
    width: fit-content;
    padding: 0.5em 0.75em 0.5em 0.25em;

    font-size: 1em;
    font-weight: 400;
    color: var(--text-primary);
}

.backButtonIcon {
    transform: rotate(90deg);
    width: 1.25em;
    height: 1.25em;
    color: var(--icon-primary);

    path,
    circle,
    rect,
    line,
    polyline {
        fill: currentColor !important;
        stroke: currentColor !important;
    }
}

.submissionInfo {
    display: flex;
    align-items: center;
    gap: 1em;
}

.divider {
    width: 1px;
    height: 2em;
    background-color: var(--text-secondary);
}

.metaInfo {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.language {
    font-size: 1em;
    color: var(--text-primary);
    line-height: 1.2;
}

.date {
    font-size: 0.75em;
    color: var(--text-secondary);
    line-height: 1.2;
}

.editorContainer {
    flex: 1;
    overflow: hidden;
    min-height: 0;
}

.editorWrapper {
    position: relative;
    height: 100%;
}

.copyCodeButton {
    position: absolute;
    top: 1em;
    right: 1.75em;
    z-index: 1;
}

.messageDropdown {
    display: inline-block;
    position: relative;
}

.messageDropdownTrigger {
    cursor: pointer;
    transition: opacity 0.2s ease;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.6;
    }
}

.messageDropdownMenu {
    position: absolute;
    top: calc(100% + 0.5em);
    left: 50%;
    transform: translateX(-50%);
    z-index: 6;

    min-width: 12.5em;
    max-width: 25em;
    width: max-content;
    max-height: 26.25em;

    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 0;

    border-radius: 0.5em;
    box-shadow: 0 0.25em 0.75em rgba(0, 0, 0, 0.35);

    background: var(--card-primary);
    overflow: hidden;
}

.messageDropdownItem {
    padding: 0;
    border-bottom: 1px solid var(--card-secondary);
    cursor: default;

    &:last-of-type {
        border-bottom: none;
    }
}

.messageDropdownHeader {
    padding: 1em 1.5em;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-primary);
}

.messageDropdownContent {
    display: flex;
    position: relative;
    padding: 1.25em 0.75em 1.25em 0.75em;
    background: rgba(133, 34, 33, 0.16);

    button {
        flex-shrink: 0;
    }
}

.messageDropdownText {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 0.875em;
    line-height: 1.6;
    color: var(--text-primary);
}
