.header {
    grid-area: header;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.75em 1.25em;

    background: var(--card-primary);
}

.left {
    display: flex;
    align-items: center;
    gap: 1em;
}

.center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.right {
    display: flex;
    align-items: center;
    gap: 0.75em;
}
