.iconButton {
    display: block;
    line-height: 0;

    border: none;

    background-color: transparent;

    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    &[data-size] {
        width: var(--size);
        height: var(--size);
    }

    &[data-size="small"] {
        --size: 1.25em;
    }

    &[data-size="medium"] {
        --size: 1.75em;
    }

    &[data-size="large"] {
        --size: 2em;
    }
}
