.taskPanel {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    min-height: 0;
}

.taskPanelContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;

    border-radius: 0 0 0.5em 0.5em;
    overflow-y: auto;
}
