.duelInfo {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    column-gap: 1em;
}

.duelContent {
    justify-self: center;
    user-select: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;

    text-align: center;
}
