.resultTitle {
    display: flex;
    align-items: center;
    column-gap: 0.5em;

    svg {
        flex-shrink: 0;
    }

    &.success {
        column-gap: 0.75em;
    }

    &.testing {
        svg {
            color: var(--text-secondary);
            opacity: 0.7;
        }
    }
}
