.dropdown {
    display: inline-block;
    position: relative;
}

.dropdownTrigger {
    cursor: pointer;
}

.dropdownMenu {
    position: absolute;
    z-index: 1;
    right: 5%;

    width: 13em;
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;

    margin-top: 0.75em;
    padding: 0.75em;
    border: 2px solid var(--background);
    border-radius: 0.5em;

    background: var(--card-primary);
}

.dropdownItem {
    display: flex;
    align-items: center;
    column-gap: 0.75em;

    padding: 0.25em 0.75em;

    cursor: pointer;

    font-size: 1em;
    font-weight: 400;

    svg {
        width: 1.5em;
        height: 1.5em;
    }
}
