.badge {
    padding: 0.1em 0.6em;

    border-radius: 5em;
    white-space: nowrap;
}

.warning {
    border: 1px solid var(--badge-warning-border);
    color: var(--badge-warning-text);
    background-color: var(--badge-warning-bg);
}
